{% block _appbundle_scenario_scenarioInquests_0_scenarioInquestValidators_entry_label %}{% endblock %}

{% block _appbundle_scenario_scenarioInquests_0_scenarioInquestValidators_entry_widget %}
    {{ form_row(form.validator) }}
    {{ form_row(form.validatorParameter) }}
    {{ form_row(form.validatorComparison) }}
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <a href="#" class="collection-add btn btn-default pull-right" title="Add Validator"><span class="glyphicon glyphicon-plus-sign"></span></a>
            <a href="#" class="collection-remove btn btn-default pull-right" title="Delete Validator"><span class="glyphicon glyphicon-trash"></span></a>
            <a href="#" class="collection-up btn btn-default pull-right" title="Move Validator up"><span class="glyphicon glyphicon-arrow-up"></span></a>
            <a href="#" class="collection-down btn btn-default pull-right" title="Move Validator down"><span class="glyphicon glyphicon-arrow-down"></span></a>
        </div>
    </div>
{% endblock %}